main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 4.8em);
  width: 100%;
}

#MainTitle {
  text-align: center;
}

#MainTitle h1 {
  margin: 0;
  padding: 0;
}

#MainTitle h1 span {
  color: #333;
  font-size: 5.8rem;
  font-family: 'Cormorant Unicase', serif;
  font-weight: 300;
  letter-spacing: 0.18em;
/*  text-shadow: 3px 0.5px 0 rgba(255, 200, 50, 1), -3px 0.5px 0 rgba(20, 220, 255, 1);*/
  text-shadow: 3px 0.5px 0 rgba(255, 200, 50, 1), 0 0 40px #444;
}

#MainTitle h2 {
/*  color: #5F5;*/
  color: rgba(255, 200, 50, 1);
  font-family: Parisienne, serif;
  font-weight: 400;
  font-size: 5rem;
  text-shadow: 0 0 1px black, 0 0 40px #444;
  margin: 0;
  margin-top: -0.4em;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
  text-align: right;
  color: #555;
  font-style: italic;
}

#Titlefour h1 {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-align: center;
}
