/* Skeleton */
body, html {overflow: hidden; background-color: black;}
body {font-size: 62.5%;}
* {margin:0;padding:0;}
.parallax {font-size: 200%;}
.parallax {
    height: 700px; /* fallback for older browsers */
    height: 100vh;
    min-height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.parallax__group {
    position: relative;
    height: 700px; /* fallback for older browsers */
    height: 100vh;
    min-height: 700px;
}
.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}
.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}
#group1 {z-index: 5;} /* slide over group 2 */
#group1 .parallax__layer--base {}
#group2 {z-index: 3;} /* slide under groups 1 and 3 */
#group2 .parallax__layer--back {
/*    background-image: url(../imgs/headline.jpg);*/
/*    background-size: 100% 100vh;*/
    background-image: url(../imgs/skulls.png);
}
#group3 {z-index: 4;} /* slide over group 2 and 4 */
#group3 .parallax__layer--base {background: rgba(153,216,101, 0);}
#group4 {z-index: 2;} /* slide under group 3 and 5 */
#group4 .parallax__layer--back {
/*    background-image: url(../imgs/entertainment.jpg);*/
/*    background-size: 100% 100vh;*/
    background-image: url(../imgs/skulls.png);
}
#group5 {z-index: 3;} /* slide over group 4 and 6 */
#group5 .parallax__layer--base {background: rgba(214,229,100, 0);}
#group6 {z-index: 2;} /* slide under group 5 and 7 */
#group6 .parallax__layer--back {
/*    background-image: url(../imgs/sponsors.jpg);*/
/*    background-size: 100% 100vh;*/
    background-image: url(../imgs/skulls.png);
}
#group7 {z-index: 3;} /* slide over group 7 */
#group7 .parallax__layer--base {background: rgb(255,241,100);}

/* usr */

#intro {
    background-image: url(../imgs/stamp.png), url(../imgs/BB_SeamlessPaper_03.jpg);
    background-repeat: no-repeat, repeat;
    background-position: center, top left;
    background-size: 60vh, 200px;
}

.fillcard {
    box-shadow: 0 0 50px black inset;
    width: 100%;
    height: 100%;
}

#foottop {
    position: absolute;
    width: 100%;
    padding-top: 10px;
    font-weight: 100;
    z-index: 1000;
    font-size: 1.2em;
    color: #eee;
}

.introtext {
    font-size: 1.4em;
    font-weight: 400;
    font-family: monospace;
    color: white;
    text-align: center;
}

#header {
    text-shadow: 0 0 100px black, 0 0 100px rgb(100,100,0);
    text-align: center;
    color: white;
    font-family: monospace;
}

#header h1 {
    font-size: 5em;
    letter-spacing: 0.2em;
    text-shadow: 0 0 100px black, 0 0 100px rgb(100,100,0), 2px 2px 3px rgba(0,0,0,0.5);
}

#header p {
    font-size: 2em;
    /*! font-weight: 700; */
    color: rgba(255,255,255,0.8);
    font-style: italic;
}

nav {
    position: absolute;
    width: 100%;
    bottom: 30px;
}

nav li {
    display: inline-block;
    width: 19%;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    border: 2px solid transparent;
}

nav li:hover {
    border-bottom: 2px solid white;
}

.rotateleft {
    -webkit-transform: rotate(-5deg); /* Safari */
    transform: rotate(-5deg); /* Standard syntax */
    overflow: visible;
}

.rotateright {
    -webkit-transform: rotate(5deg); /* Safari */
    transform: rotate(5deg); /* Standard syntax */
}

.centre {
    width: 100%;
    max-width: 1280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%, -50%);
    max-height: 700px;
}

.textblock {
    font-family: sans-serif;
    text-align: center;
    max-width: 1200px;
}

.textblock h1 {
    letter-spacing: 0.1em;
    padding-bottom: 20px;
    font-size: 2em;
}

.textblock p {
    padding-top: 30px;
    font-size: 1.2em;
}

.textblock a:hover {
    text-decoration: underline;
    /*! text-shadow: 0 0 5px white; */
    color: #513710;
}

.shadowed {
    color: white;
    text-shadow: 0 0 5px black;
}

.postcard {
    /*http://www.bittbox.com/freebies/freebie-friday-6-vintage-paper-photoshop-patterns*/
/*    background-image: url("../imgs/dirtvint.png"), url("../imgs/postcard border.png"), url(../imgs/BB_SeamlessPaper_05.jpg);*/
    background-image: url("../imgs/dirtvint.png"), url(../imgs/BB_SeamlessPaper_05.jpg);
    background-repeat: repeat, repeat;
    border-radius: 2px;
    border-style: solid;
    border-width: 38px;
    /*http://border-image.com*/
    -moz-border-image: url("../imgs/postcard border img2.png") 38 round;
    -webkit-border-image: url("../imgs/postcard border img2.png") 38 round;
    -o-border-image: url("../imgs/postcard border img2.png") 38 round;
    border-image: url("../imgs/postcard border img2.png") 38 round;
    letter-spacing: 0.1em;
    box-shadow: 2px 2px 10px black;
    width: 70%;
    padding: 50px;
    margin: 0 auto;
    overflow: auto;
    font-family: 'Slabo 27px', serif;
    text-shadow: 0.5px 0.5px 1px #444;
}

.postcard img {
    position: absolute;
}

#pimgwavyline {
    top: 50px;
    right: 0px;
    height: 150px;
    width: 500px;
}

#pimgparavion {
    top: 10px;
    right: 20px;
    height: 170px;
    width: 170px;
}

#pimgparadise {
    top: 0px;
    right: 300px;
    width: 170px;
    height: 170px;
}

#pimglogo {
    bottom: 50px;
    right: 50px;
    width: 250px;
    height: 250px;
    transform: rotate(-30deg);
}

/*




    note to self


create a set of backgrounds such that the top and bottom of each fades to the same
wheat colour
superfluous info





*/

.postcardleft {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.postcardleft h1 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.postcardleft p {
    padding-right: 30px;
    border-right: 1px solid black;
    font-size: 1.2em;
    line-height: 1.5em;
}

.postcardright {
    width: 50%;
    float: right;
    padding-left: 50px;
    box-sizing: border-box;
    margin-top: 150px;
}

.postcardright p {
    font-size: 1.6em;
    line-height: 2em;
    padding-top: 30px;
    border-bottom: 1px solid black;
}

@media only screen and (max-width: 1100px){
    .postcardright p {
        font-size: 1.1em;
        line-height: 1.2em;
    }
}

.button {
    padding: 15px 40px;
    background-color: rgba(0, 153, 255, 0.5);
    margin-top: 30px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 1.5em;
    box-shadow: 0 0 5px black;
    color: white;
    text-shadow: none;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.button:hover {
    background-color: white;
    color: rgba(0, 76, 18, 0.7);
}

#leftcontact {
    width: 50%;
    float: left;
}

#rightcontact {
    width: 50%;
    float: right;
}

.Deet {
    margin: 15px auto;
    padding: 5px 1em;
    width: 18em;
    color: #292929;
    font-family: Roboto, sans-serif;
    text-align: center;
    background-color: rgba(0,0,0,0.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05) inset;
}

.Deet h1 {
    padding: 0;
    font-weight: 700;
    font-size: 1.4em;
    border: none;
}

.Deet h2 {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 1.1em;
}

.Deet h3 {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 1em;
}

.Deet a {
    text-decoration: none;
    color: #1B506B;
}

#committee {
    background-image: url(../imgs/BB_SeamlessPaper_03.jpg);
}
