body {
    background-image: url(../img/paper1.jpg);
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    position: static;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-image: url(../img/paper2.jpg);
    border-bottom: 1px solid black;
    padding: 20px 0;
}

header a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 2em;
    padding: 5px 20px;
    margin: 10px;
    border-radius: 2px;
    text-shadow: 0 0 5px black;
    transition: all 0.2s ease-in-out;
}

header a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
    letter-spacing: 0.1em;
}

#stitle h1 {
  text-align: center;
  font-weight: 300;
  margin-top: 1.5em;
}

main {
  padding: 2em;
}

.sbox {
  margin: 2em auto;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;

  font-weight: 300;
  color: #222;
  max-width: 60em;
    box-shadow: 5px 5px 0px black;
    border: 1px solid black;
}

.BoxSponsorLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  width: 12em;
  color: #333;
}

.BoxSponsorLeft p {
  margin: 0;
  padding: 0;

  font-size: 1.5em;
}

.BoxSponsorLeft h1 {
  margin: 0;
  padding: 0;
}

.BoxSponsorRight {
  max-width: 500px;
    font-family: sans-serif;
    font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.BoxSponsorRight ul {
  margin: 0;
}

.BoxSponsorRight li {
  padding: 0.25em 0.2em;
  list-style-type: circle ;
}

#Gold {
  background-color: #EDD35F;
}

#Gold h1 {
  font-size: 5em;
  color: #8C7611;
}

#Silver {
  background-color: silver;
}

#Silver h1 {
  font-size: 5em;
  color: #555;
}

#Bronze {
  background-color: #CC9658;
}

#Bronze h1 {
  font-size: 4em;
  color: #7D4C14;
}

.deet {
    background-image: url(../img/dirtvint.png), url(../img/paper2.jpg);
    background-repeat: repeat, repeat;
    border-radius: 2px;
    -o-border-image: url(../img/postcardBorder.png) 38 round;
    border-image: url(../img/postcardBorder.png) 38 round;
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.5);
    width: 70%;
    min-width: 500px;
    font-size: 1.5em;
    margin: 100px auto;
    text-align: center;
    font-family: cursive;
    border-width: 15px;
}

.deet h3, .deet h2, .deet h1 {
    margin: 0;
    font-weight: 100;
}

.deet a {
    font-weight: 100;
    text-decoration: none;
    font-family: sans-serif;
    color: #06D;
}

.deet a:hover {
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}

@media all and (max-width: 950px) {
  .sbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }

  .BoxSponsorLeft {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    margin-bottom: 2em;
  }

  .BoxSponsorRight {
    max-width: 100%;
  }
}

#sos {
    padding-top: 20px;
    text-align: center;
}

#sos p {
    font-family: monospace;
    font-weight: 100;
    font-size: 3em;
    padding: 0;
    margin: 0;
}

#sos img {
    left: 0;
    margin: 0 auto;
    padding: 0;
    transition: all 10s ease-in-out;
}

#sos img:hover {
    transform: rotateZ(3600deg);
}