#Title h1 {
  text-align: center;
  font-weight: 300;
  margin-top: 1.5em;
}

main {
  margin: 2em;
}

.sbox {
  margin: 2em auto;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;

  font-weight: 300;
  color: #222;
  max-width: 60em;
}

.BoxSponsorLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  width: 12em;
  color: #333;
}

.BoxSponsorLeft p {
  margin: 0;
  padding: 0;

  font-size: 1.5em;
}

.BoxSponsorLeft h1 {
  margin: 0;
  padding: 0;
}

.BoxSponsorRight {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.BoxSponsorRight ul {
  margin: 0;
}

.BoxSponsorRight li {
  padding: 0.25em 0.2em;
  list-style-type: circle ;
}

#Gold {
  background-color: #EDD35F;
}

#Gold h1 {
  font-size: 5em;
  color: #8C7611;
}

#Silver {
  background-color: silver;
}

#Silver h1 {
  font-size: 5em;
  color: #555;
}

#Bronze {
  background-color: #CC9658;
}

#Bronze h1 {
  font-size: 4em;
  color: #7D4C14;
}

.Deet {
  margin: 0 auto;
  padding: 1em 2em;
  margin-bottom: 2em;
  max-width: 60em;
  width: auto;
}

@media all and (max-width: 950px) {
  .sbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }

  .BoxSponsorLeft {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    margin-bottom: 2em;
  }

  .BoxSponsorRight {
    max-width: 100%;
  }
}
