body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
    -webkit-perspective: 1px;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
}

#backing {
    position: fixed;
    width: 100%;
    height: 400vh;
    top: -100vh;
    transform-style: preserve-3d;
    left: 0;
    background-image: url(../img/paper1.jpg);
    -webkit-transform: translateZ(-1px) scale(2);
            transform: translateZ(-1px) scale(2);
}

header {
    width: 100%;
    height: 100vh;
    text-align: center;
    background: white url(../img/paper2.jpg) repeat left top;
    background-size: 150px;
    color: white;
    font-size: 3em;
    font-family: sans-serif;
    font-weight: 100;
    min-height: 500px;
    position: relative;
    border-bottom: 1px solid black;
}

#logo {
    height: 70vh;
    left: 0;
    margin: 15vh auto;
    padding: 0;
}

ul.nav {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.nav li {
    display: inline-block;
    width: 20%;
    padding: 0;
    margin-bottom: 40px;
}

.nav a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav a:hover {
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 930px){
    header {
        height: auto;
    }
    ul.nav {
        position: relative;
        margin-top: -15vh;
    }
    .nav li {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
}

#title {
    position: absolute;
    top: 30vh;
    width: 100%;
    color: white;
}

header h1 {
    letter-spacing: 0.2em;
}

#foottop {
    padding-top: 5px;
    position: absolute;
    width: 100%;
    top: 0;
    font-size: 0.8em;
}

main {
    max-width: 1650px;
    margin: 0 auto;
}

.infocard {
    letter-spacing: 0.1em;
    width: 900px;
    min-height: 550px;
    margin: 120px 50px 0 50px;
    position: relative;
    color: #444;
    font-family: cursive;
    border-width: 38px;
}

.infocard a {
    display: block;
    color: white;
    font-size: 2.5em;
    border: 1px solid black;
    text-align: center;
    margin: 30px 20px;
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
}

.infocard a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 15px white;
}

.postcard {
    background-image: url(../img/dirtvint.png), url(../img/paper2.jpg);
    background-repeat: repeat, repeat;
    border-radius: 2px;
    -o-border-image: url(../img/postcardBorder.png) 38 round;
    border-image: url(../img/postcardBorder.png) 38 round;
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.5);
    border-style: solid;
}

@media only screen and (max-width: 1100px){
    .postcard {
        margin: 120px 0 0 0;
    }
}

@media only screen and (max-width: 1000px){
    .postcard {
        width: 90%;
        font-size: 0.7em;
    }
    
    .infocard {
        min-height: 400px;
    }
}

.rotateleft {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    float: left;
}

.smallrotateleft {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
}

.rotateright {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    float: right;
}

.smallrotateright {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
}

.pparavion {
    position: absolute;
    top: 0;
    right: 0;
}

.pparadise {
    position: absolute;
    top: 10px;
    right: 200px;
}

.pwavyline {
    position: absolute;
    top: 40px;
    right: 0;
    width: 400px;
    height: 100px;
}

.plogo {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 210px;
    width: 210px;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
}

.postcardright {
    float: right;
    width: 45%;
    margin-top: 20%;
}

@media only screen and (max-width: 1000px){
    .pparavion {
        height: 120px;
    }
    .pparadise {
        height: 120px;
        right: 150px;
    }
    .pwavyline {
        width: 350px;
        height: 80px;
    }
    .plogo {
        height: 150px;
        width: 150px;
        -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
    }
    .postcardright {
        margin-top: 15%;
    }
}

.postcardright p {
    padding: 30px 20px 0 20px;
    margin: 0 50px 0 20px;
    border-bottom: 1px solid black;
    font-size: 3.5em;
}

.postcardleft {
    float: left;
    width: 55%;
    padding-left: 20px;
    box-sizing: border-box;
}

.postcardleft h1 {
    font-size: 4em;
    margin: 0;
}

.postcardleft p {
    font-size: 3em;
    line-height: 1.6em;
    margin: 0;
    padding-right: 20px;
    border-right: 1px solid black;
}

#committee {
    clear: both;
    padding-top: 130px;
    width: 100%;
    text-align: center;
    font-family: cursive;
    position: relative;
}

#committeetitle {
    font-size: 5em;
    width: 40%;
    min-width: 300px;
    margin: 0 auto 50px auto;
    background-image: url(../img/paper2.jpg);
/*    border: 1px solid black;*/
    box-shadow: 0 0 20px black;
    border-width: 15px;
}

.deet {
    background-image: url(../img/paper2.jpg);
    display: inline-block;
    width: 300px;
    margin: 20px;
    font-size: 1.8em;
    border-width: 15px;
}

.deet h3, .deet h2, .deet h1 {
    margin: 0;
    font-weight: 100;
}

.deet a {
    font-weight: 100;
    text-decoration: none;
    font-family: sans-serif;
    color: #06D;
}

.deet a:hover {
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}

#bottombuffer {
    height: 100px;
}