html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: url('./imgs/foggy_birds/foggy_birds.png');
  background-repeat: repeat;
  background-size: 200px;
  
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}