body {
    /*background-color: #C00000;*/
    background-color: #fff;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    list-style-type: armenian;
    font-size: 62.5%;
    font-weight: 200;
    
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 50%;
    }
}

* {
    margin: 0 auto;
    padding: 0;
}

#Header {
    text-align: center;
    font-size: 4em;
    height: 170px;
    background-color: #c00000;
    color: white;
    border-bottom: 1px solid black;
}

#Header h1 {
    padding-top: 60px;
}

#Title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 3em;
}

#Container {
    position: relative;
    width: 100%;
}

nav {
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: 100;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.21);
    box-shadow: 0 0 5px #fff;
}

nav ul {
    
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
    font-weight: 200;
}

strong {
    font-weight: 400;
}

em {
    font-style: italic;
}

.thin {
    font-weight: 100;
}

.med {
    font-weight: 300;
}

.spaced {
    letter-spacing: 0.18em;
    margin-right: -0.18em;
}

#Gold {
    background-color: #D7B444;
}

#Gold h1 {
    font-size: 2.5em;
}

#Silver {
    background-color: #93A6B7;
}

#Silver h1 {
    font-size: 2.2em;
}

#Bronze {
    background-color: #CE5218;
    height: 180px;
}

#Bronze h1 {
    font-size: 1.7em;
}

.BoxSponsorLeft {
    float: left;
    text-align: right;
    width: 30%;
    margin-right: 50px;
    font-size: 4em;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
}

.BoxSponsorLeft h1 {
    margin-top: -0.2em;
}

.BoxSponsorRight {
    float: right;
    text-align: left;
    width: 65%;
    font-size: 2.4em;
    line-height: 1.8em;
}

.BoxSponsorRight li {
    list-style-type: none;
}

.BoxSponsorRight li:before {
    content: "-"; /* Insert content that looks like bullets */
    padding-right: 12px;
}

.sbox {
    margin-bottom: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    overflow: auto;
    color: #fff;
    position: relative;
}

#MainTitle {
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 300px;
    left: 0;
    font-size: 10em;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px #fff;
    z-index: 500;
}

#Footer {
    position: fixed;
    text-shadow: 0px 0px #fff;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-size: 2em;
    text-align: center;
}

#FrontImage {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    z-index: 100;
    
}

#FrontImageImage {
    width: 50%;
}

.RedBack {
    background-color: #c00000;
    color: white;
}


